.header__nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header__nav--list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.header__nav--item {
}

.header__nav--link {
}

.header__nav--img {
	width: 30px;
}
