.title__page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	background-color: #202020;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__link {
}
