.projects {
    display: flex;
    flex-direction: column;
}

.projects__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
}

.projects__link {
}

.projects__link--img {
}

.projects-desc {
}

.projects-desc--h {
}

.projects-desc--p {
}
