body {
	min-width: 320px;
	overflow: hidden;
}

.section {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 320px) and (max-width: 769px) {
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1200px) {
}
